*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--text-color);
}
h1, h2, h3 {
    margin: 0;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    font-weight: 500;
    font-size: 40px;
    color: var(--accent1-color);
}
.subtitle {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--accent3-color);
}
.desc {
    font-weight: 400;
    font-size: 10px;
    color: var(--text-color);
    letter-spacing: 1.3px;
}
@media screen and (min-width: 425px) {
    .desc {
        font-size: 14px;
    }
}
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 225px;
    width: 100%;
    height: 50px;
    font-weight: 900;
    font-size: 10px;
    padding: 0 20px;
    border-radius: 3px;
    color: var(--light-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, var(--accent1-color), var(--accent2-color));
}
@media screen and (min-width: 1024px) {
    .btn {
        font-size: 12px;
        transition: box-shadow .3s ease;
        
        &:hover {
            box-shadow: 0 0 15px 3px rgba(66, 97, 66, 0.2); 
        }
        & img {
            width: 18px;
            height: 12px;
        }
    }
}
.img {
    width: 100%;
    height: auto;
}