:root {

    // Fonts
    --main-font: 'Inter', sans-serif;

    // Colors
    --accent1-color: #647B64;
    --accent2-color: #66AC66;
    --accent-color: #F3B562;
    --light-color: #FEFEFE;
    --title-color: #333333;
    --text-color: #4f4f4f;
    
}