:root {

    // Fonts
    --main-font: 'Inter', sans-serif;

    // Colors
    --accent1-color: #647B64;
    --accent2-color: #66AC66;
    --accent3-color: #F3B562;
    --accent4-color: #f0dcc5;
    --light-color: #FEFEFE;
    --title-color: #333333;
    --text-color: #4f4f4f;

    --btn-color: linear-gradient(120deg, #647B64, #66AC66);
    // --btn-color: ;

}