.service {
    padding: 30px 0;
    background: linear-gradient(to bottom, #faf4ee, #ffffff);
}
.service-content {
    text-align: center;
    margin-bottom: 28px;
}
.service-content--subtitle {
    display: inline-block;
    margin-bottom: 10px;
}
.service-content--title {
    font-size: 20px;
    text-transform: uppercase;
}
.service-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    list-style: none;
}
.service-list--item {
    width: 100%;
    padding: 20px 26px;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(107, 126, 107, 0.1), var(--white-color)35%);
}
.service-item--img {
    display: flex;
    width: 27px;
    height: 27px;
    margin-bottom: 24px;
}
.service-item--img svg{
    width: 100%;
    height: 100%;
}
.service-item--title {
    font-weight: 500;
    font-size: 10px;
    color: var(--title-color);
    margin-bottom: 6px;
}
.service-item--desc {
    font-size: 8px;
    max-width: 114px;
}
@media screen and (min-width: 375px) {
    .service-list {
        flex-wrap: wrap;
        gap: 20px;
    }
    .service-list--item {
        max-width: 158px;
    }
}
@media screen and (min-width: 768px) {
    .service-list {
        justify-content: center;
    }
    .service-list--item {
        max-width: 210px;
    }
}
@media screen and (min-width: 1024px) {
    .service {
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
    
        &::after {
            content: '';
            width: 42%;
            height: 120px;
            position: absolute;
            right: 0;
            z-index: -1;
            border-radius: 8px;
            background: linear-gradient(to top, var(--accent4-color), #ffffff);
        }
    }
    .service-content {
        margin-bottom: 56px;
    }
    .service-content--subtitle {
        font-size: 18px;
    }
    .service-content--title {
        font-size: 34px;
    }
    .service-list {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .service-list--item {
        max-width: 360px;
        padding: 78px 50px;
        transition: all .6s ease;
        cursor: pointer;
    }
    .service-list--item:hover {
        background: var(--accent1-color);
        color: var(--white-color);

        & svg path {
            fill: var(--white-color);
        }

        .service-item--title,
        .service-item--desc {
            color: var(--white-color);
        }
    }
    .service-item--img {
        width: 68px;
        height: 68px;
    }
    .service-item--title {
        font-size: 22px;
    }
    .service-item--desc {
        font-size: 14px;
        max-width: 100%;

    }
}